.footer{
    background-color: #062F49;
    padding: 2%;
}

.autores{
    color: #f5f7f7;
    background-color: #062F49;
    margin-left: 126px;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
