*{
    background-color: #f5f7f7;
    margin: 0;
}

.card-container{
    margin-top: 20px;
    padding: 0 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    
}

#wrapper {
    padding: 0 
}